.decks {
    background-color: #232323;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
  
    h1, h3 {
      text-align: center;
    }
  }
  
  .deck-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .deck-item {
    padding: 10px;
    background-color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &.selected {
      background-color: #575757;
    }
  }
  