.side-panel {
    background-color: #1e1e1e; // Dark background
    color: #c7c7c7; // Light grey text
    .table {
      background-color: #252526;
      margin-bottom: 20px;
      padding: 10px;
      .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
          background-color: #333;
          color: white;
          border: none;
          &:focus {
            outline: none;
          }
        }
        button {
          background-color: red;
          border: none;
          color: white;
          cursor: pointer;
        }
      }
      .row {
        margin-top: 10px;
        display: flex;
        align-items: center;
        input[type="text"] {
          flex-grow: 1;
          margin-right: 10px;
          background-color: #333;
          border: none;
          color: white;
          &:focus {
            outline: none;
          }
        }
        .tags {
          display: flex;
          flex-wrap: wrap;
          span {
            background-color: #555;
            margin-right: 5px;
            padding: 5px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            button {
              margin-left: 5px;
              background-color: #777;
              border: none;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  