.session-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .session-content {
    background-color: #232323;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .session-form {
    display: grid;
    gap: 10px;
  }
  
  .username-input, .session-input {
    width: 100%;
  }
  
  .session-id-section {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .new-button, .join-button, .start-button {
    width: 100%;
  }
  